
// -----------------------------------------------------------------------------
//
// Colors
//
// -----------------------------------------------------------------------------
$color_white: #fff;
$color_grey_light: #dddddd;
$color_grey_lighter: #f6f6f6;
$color_grey: #999999;
$color_grey_dark: #777777;
$color_grey_darker: #333333;
$color_grey_darkerer: #111111;
$color_blue: #5c69ff;
$color_black: #000;

$color_border: $color_grey_lighter;

$color_button_primary_bg : $color_grey_dark;
$color_button_primary : $color_white;
$color_button_primary_bg_hover : $color_grey_darkerer;
$color_button_primary_hover : $color_white;

// -----------------------------------------------------------------------------
//
// Fonts
//
// -----------------------------------------------------------------------------

$font_icon: 'icomoon';


// -----------------------------------------------------------------------------
//
// Spacers
//
// -----------------------------------------------------------------------------

$d_spacer_xsm: 5px;
$d_spacer_sm: 10px;
$d_spacer_smm: 15px;
$d_spacer_m: 20px;
$d_spacer_mm: 30px;
$d_spacer_lrg: 40px;
$d_spacer_xlrg: 60px;
$d_spacer_xxlrg: 80px;

// -----------------------------------------------------------------------------
//
// Breakpoints
//
// -----------------------------------------------------------------------------

$mq_xxsmall: 375px;
$mq_xsmall: 500px;
$mq_small: 600px;
$mq_medium: 768px;
$mq_wpadmin: 783px;
$mq_full: 960px;
$mq_large: 1100px;
$mq_xlarge: 1200px;
$mq_xxlarge: 1400px;

$mq_name_xxsmall : 'xxsm';
$mq_name_xsmall : 'xsm';
$mq_name_small : 'sm';
$mq_name_medium : 'md';
$mq_name_wpadmin : 'wpadmin';
$mq_name_full : 'full';
$mq_name_large : 'lrg';
$mq_name_xlarge : 'xlrg';
$mq_name_xxlarge : 'xxlrg';
$mq_name_mobile : 'mobile';

$respond_to_breakpoints: (
		$mq_name_mobile:  '(max-width: ' + ( $mq_medium - 1 ) + ')',
		$mq_name_xxsmall:  '(min-width: ' + $mq_xxsmall + ')',
		$mq_name_xsmall:  '(min-width: ' + $mq_xsmall + ')',
		$mq_name_small:  '(min-width: ' + $mq_small + ')',
		$mq_name_medium:  '(min-width: ' + $mq_medium + ')',
		$mq_name_wpadmin:  '(min-width: ' + $mq_wpadmin + ')',
		$mq_name_full:  '(min-width: ' + $mq_full + ')',
		$mq_name_large:  '(min-width: ' + $mq_large + ')',
		$mq_name_xlarge:  '(min-width: ' + $mq_xlarge + ')',
		$mq_name_xxlarge:  '(min-width: ' + $mq_xxlarge + ')',
) !default;

// -----------------------------------------------------------------------------
//
// Transitions
//
// -----------------------------------------------------------------------------

$t_transition: all 0.15s ease-in-out;
$t_transition_slow: all 0.5s ease-in-out;
